<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="http://www.itembaycorp.com/" target="blank">ITEMBAY</a></li>
    <li class="nav-try-study" role="menuitem"><a href="{{site.baseulr}}About">About</a></li>
</ul>
